
/* Your CSS Code here. */

.table{
	font:monospace;
	text:end;
	fw:bold;
}
th{
	background-color: black;
            color:white;
}
.total{
      font-weight: bold;
      text-align: end;
}
.sum{
	font-weight: bold;   
}